{% extends "base.html" %}
{% block title %}About - Shop Inventory System {% endblock %}

{% block content %}
<h1>About Shop Inventory System</h1>
<p>Shop Inventory System is a simple web application designed to help manage and track products in a shop. It allows users to view product details, including name, price, quality, and quantity. The system provides an easy-to-use interface for shop owners to keep their inventory organized and up-to-date.</p>
<p><a href="{{ url_for('home') }}">--Back to Home</a></p>

{% endblock %}