{% extends "base.html" %}
{% block title %} About - Shop Inventory System {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-secondary text-white">
                <h4 class="mb-2">About This project</h4>
            </div>
            <div class="card-body">
                <p class="card-text">This project is a simple shop inventory system built using Flask, a lightweight web framework in Python. It allows users to manage their products, including adding new products, viewing product details, and keeping track of inventory.</p>
            <hr>
            <h5 class="mb-2">Technologies Used</h5>
            <ul>
                <li>Python 3.14</li>
                <li>Flask web framework</li>
                <li>Jinja2 template engine</li>
                <li>Bootstrap</li>
                <a href="{{url_for('home')}}"
                class="btn btn-primary mt-3">Back to Home</a>
            </ul>
        </div>
    </div>
</div>
</div>
                {% endblock %}