<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Shop Inventory management system{% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>

        <hr>

        {% block content %}
        {% endblock %}
        <hr>
        <small>Shop inventory management system - Built with Flask python</small>
        </body>
    </html>