{% extends 'base.html' %}
{% block title %}Product Detail - Shop Inventory System{% endblock %}

{% block content %}

<div class="row" justify-content-center">
    <div class="col_md_6">

        <!--Detail card-->
        <div class="card shadow-sm mb-4">
            <div class="card-header py-3"
                style="background-color: #5f3fle;">
                <h4 class="mb-0 text-white">
                    Product Detail
                </h4>
            </div>
            <div class="card-body p-4">
                <!-- Avatar -->
                 <div class="text-center mb-4">
                    <div class="avatar rounded-circle bg-secondary text-white
                                d-inline-flex align-items-center justify-content-center"
                         style="width: 80px; height: 80px; font-size: 36px;">
                        {{ products[0].name[0] | upper }}
                    </div>
                    <h3 class="fw-bold">{{ products['name'] }}</h3>
                </div>

                <!-- Details -->
                <table class="table tabale-borderless">
                    <tr>
                        <th class="text-muted fw-bold">Category:</th>
                        <td>{{ products['category']}}</td>
                    </tr>
                    <tr>
                        <th class>="text-muted fw-bold">Price:</th>
                        <td>{{ products['price']}}</td>
                    </tr>
                    <tr>
                        <td class>="text-muted fw-bold">Stock:</td>
                        <td>{{ products['stock']}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
                    
{% endblock %}


    