{% extends 'base.html' %}
{% block title %}Products - Shop Inventory System {% endblock %}

{% block content %}
<h1>Products</h1>
<p>products: {{ products|length }}</p>

<table class ="table table-striped table-hover" border="1">
    <thead class="table-dark">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Quality</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td class="fw-bold">{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.quality }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}